<html>
<head>
    <title>Currículo Victor Gomes Cavalcante</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="style.css" rel="stylesheet">
</head>
<body>

    <h1 id="initialh1"> <a href="/"> <img src="/Foto.png" class="w3-grayscale-min" alt="Picture - Victor Gomes "></a> </h1>
