<%- include('header') %>
<div class="contacts">
   <strong> Contacts </strong>
   <div class="information">
       <ul>
        <li><span> Name: </span>Victor Gomes Cavalcante</li>
        <li><span><i class="fa fa-birthday-cake" style="font-size:24px"></i>   </span>08/09/1985</li>
        <li><span><i class="fa fa-envelope" style="font-size:24px"></i>    </span><a href="mailto:tecvictor@gmail.com">tecvictor@gmail.com</a></li>
        <li><span><i class="fa fa-phone" style="font-size:24px"></i> <i class="fa fa-whatsapp" style="font-size:24px"></i>  </span> <a  href="https://api.whatsapp.com/send?phone=5585981138304&text=Ol%C3%A1%20Victor Gomes" target="_blrnk">85 98113-8304</a> </li>
        
    
    </ul>
   </div>
   <div class="resume">
    <strong> Resume </strong>
    <div>I have 13 years of experience in the areas of large networks and execution of complex projects, such as Backbone restructuring and implementation of MPLS. Solid knowledge in Routing and Switching and Cisco Collaboration solutions Professional self-taught, seeking continuous improvement of their knowledge. </div>
   </div>
   
</div>

<div class="links">
    <ul>
        <li><strong><a href="/experience">Experience</strong></a> </li>
        <li><strong><a href="/certifications">Courses and Certifications</strong></a></li>
        <li><strong><a href="/education">Education/Degree</strong></a></li>
    </ul>
</div>
<%- include('footer') %>